.cards {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "a a a . ."
         ". b . . ."
        ". c c c c " 
        ". . .  d ."
        ". e e e e"
        ;
}

.card1 {
    grid-area: a;
    background-color: blue;
}
.card2 {
    grid-area: b;
}
.card3 {
    grid-area: c;
    background-color: white;
}
.card4 {
    grid-area: d;
    background-color: green;
}
.card5 {
    grid-area: e;
    background-color: purple;
}
.cards li {
    /* background-color: white; */
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}